<h2>tarjeta</h2>


<div class="formulario">
  <form [formGroup] ="libroForm" (ngSubmit)="guardar()">


    <div class="form-group">
      <label>Titulo</label>
      <input type="text" formControlName="titulo" class="form-control">

      <div class="alert-danger" *ngIf="titulo?.invalid && (titulo?.dirty || titulo?.touched)">
        <div class="container-error-message" *ngIf="titulo?.errors?.required">
          El Titulo es requerido
        </div>

        <div class="alert-danger" *ngIf="titulo?.invalid && (titulo?.dirty || titulo?.touched)">
          <div class="container-error-message" *ngIf="titulo?.errors?.maxlength">
            Maximo 100 caracteres
          </div>
        </div>
      </div>
    </div>


    <div class="form-group">
      <label>Año</label>
      <input type="text"  formControlName="ano" class="form-control">
      <div class="alert-danger" *ngIf="ano?.invalid && (ano?.dirty || ano?.touched)">
        <div class="container-error-message" *ngIf="ano?.errors?.required">
          El año es requerido
        </div>

        <div class="alert-danger" *ngIf="ano?.invalid && (ano?.dirty || ano?.touched)">
          <div class="container-error-message" *ngIf="ano?.errors?.maxlength">
            Maximo 4 digitos
          </div>
        </div>

        <div class="container-error-message" *ngIf="ano?.errors?.pattern">
          Ingrese solo numeros.
       </div>

      </div>
    </div>

  <div class="form-group">
    <label>Genero</label>
    <select formControlName="genero" class="form-control">
      <option *ngFor="let mis_generos of misGeneros" >
        {{ mis_generos.name }}
      </option>
    </select>
    <div class="alert-danger" *ngIf="genero?.invalid && (genero?.dirty || genero?.touched)">
      <div class="container-error-message" *ngIf="genero?.errors?.required">
        Selecione un genero
      </div>
    </div>
  </div>


    <div class="form-group">
      <label>Numero de paginas</label>
      <input type="text" formControlName="paginas" class="form-control">
      <div class="alert-danger" *ngIf="paginas?.invalid && (paginas?.dirty || paginas?.touched)">
        <div class="container-error-message" *ngIf="paginas?.errors?.required">
          El numero de paginas es requerido
        </div>

        <div class="alert-danger" *ngIf="paginas?.invalid && (paginas?.dirty || paginas?.touched)">
          <div class="container-error-message" *ngIf="paginas?.errors?.maxlength">
            Maximo 4 digitos
          </div>
        </div>

        <div class="container-error-message" *ngIf="paginas?.errors?.pattern">
          Ingrese solo numeros.
       </div>

      </div>
    </div>

    <div class="form-group">
      <label>Id del autor</label>
      <select  formControlName="my_autor" class="form-control">
        <option [ngValue]="id_autores.id"*ngFor="let id_autores of idAutores">{{id_autores.nombre}}</option>
      </select>

    </div>
    <!--
    <div class="form-group">
      <label>Id del autor</label>
      <input type="text" formControlName="my_autor" class="form-control">
      <div class="alert-danger" *ngIf="my_autor?.invalid && (my_autor?.dirty || my_autor?.touched)">
        <div class="container-error-message" *ngIf="my_autor?.errors?.required">
          El Id del autor es requerido
        </div>



      </div>
    </div>-->
    <button type="submit" class="btn btn-primary" >Guardar</button>

  </form>
</div>

<div class="formulario">
  <form [formGroup] ="libroForm" (ngSubmit)="buscarLibro()">
    <div class="form-group">
      <label>Buscar libro</label>
      <input type="text" formControlName="titulo" class="form-control">
    </div>


    <button type="submit" class="btn btn-primary" >Buscar</button>
  </form>
</div>



<div class="formularioRegistro">
  <p>Buscar libro</p>
  <table class="table">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Año</th>
        <th>Genero</th>
        <th># de paginas</th>
        <th>user</th>
        <th>Editorial</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of libro">
        <td>{{item.titulo}}</td>
        <td>{{item.ano}}</td>
        <td>{{item.genero}}</td>
        <td>{{item.paginas}}</td>
        <td>{{item.my_autor}}</td>
        <td>{{item.my_editorial}}</td>


      </tr>
    </tbody>
  </table>
</div>

<div class="formularioRegistro">
  <p>Buscar libro</p>
  <table class="table">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Año</th>
        <th>Genero</th>
        <th># de paginas</th>
        <th>user</th>
        <th>Editorial</th>



      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of libros">
        <td>{{item.titulo}}</td>
        <td>{{item.ano}}</td>
        <td>{{item.genero}}</td>
        <td>{{item.paginas}}</td>
        <td>{{item.my_autor}}</td>
        <td>{{item.my_editorial}}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
